In [124]:
import numpy
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [125]:
df=pd.read_csv('https://raw.githubusercontent.com/Premalatha-success/Supervised-Learning/main/auto-mpg.csv')

In [126]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [127]:
df.shape

(398, 9)

In [128]:
df.drop(['car name'],axis=1,inplace=True)

In [129]:
df["origin"]=df["origin"].replace({1:"america",2:"europe",3:"asia"})

In [130]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin           object
dtype: object

In [131]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [132]:
dummies=pd.get_dummies(df[['origin']],
                       columns=['origin'],
                       drop_first=True)

In [133]:
df=pd.concat([df,dummies],axis=1)
columns=['origin']
df.drop(columns,axis=1,inplace=True)

In [134]:
df.shape

(398, 9)

In [135]:
df.dtypes

mpg              float64
cylinders          int64
displacement     float64
horsepower        object
weight             int64
acceleration     float64
model year         int64
origin_asia        uint8
origin_europe      uint8
dtype: object

In [136]:
df.horsepower=df.horsepower.str.replace('?','NAN').astype(float)
df.horsepower.fillna(df.horsepower.mean(),inplace=True)
df.horsepower=df.horsepower.astype(int)

C:\Users\SREERA~1\AppData\Local\Temp/ipykernel_23840/884985818.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.horsepower=df.horsepower.str.replace('?','NAN').astype(float)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mpg            398 non-null    float64
 1   cylinders      398 non-null    int64
 2   displacement   398 non-null    float64
 3   horsepower     398 non-null    int32
 4   weight         398 non-null    int64
 5   acceleration   398 non-null    float64
 6   model year     398 non-null    int64
 7   origin_asia    398 non-null    uint8
 8   origin_europe  398 non-null    uint8
dtypes: float64(3), int32(1), int64(3), uint8(2)
memory usage: 21.1 KB

In [138]:
df.shape

(398, 9)

In [139]:
df.dtypes

mpg              float64
cylinders          int64
displacement     float64
horsepower         int32
weight             int64
acceleration     float64
model year         int64
origin_asia        uint8
origin_europe      uint8
dtype: object

In [140]:
x=df.drop('mpg',axis=1)
y=df[['mpg']]

In [141]:
from sklearn import preprocessing
x_scaled=preprocessing.scale(x)
x_scaled=pd.DataFrame(x_scaled,columns=x.columns)

In [142]:
y_scaled=preprocessing.scale(y)
y_scaled=pd.DataFrame(y_scaled,columns=y.columns)

In [143]:
from sklearn.model_selection import train_test_split

In [157]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y_scaled,test_size=0.30,random_state=2)

In [158]:
log=LinearRegression()

In [159]:
log.fit(x_train,y_train)

LinearRegression()

In [160]:
log.score(x_train,y_train)

0.8196635088966094

In [161]:
log.score(x_test,y_test)

0.8249981561613123

In [149]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_asia,origin_europe
mpg,1.000000,-0.775396,-0.804203,-0.771543,-0.831741,0.420289,0.579267,0.442174,0.259022
cylinders,-0.775396,1.000000,0.950721,0.839061,0.896017,-0.505419,-0.348746,-0.396479,-0.352861
displacement,-0.804203,0.950721,1.000000,0.893760,0.932824,-0.543684,-0.370164,-0.433505,-0.373886
horsepower,-0.771543,0.839061,0.893760,1.000000,0.860676,-0.684376,-0.411750,-0.321232,-0.281334
weight,-0.831741,0.896017,0.932824,0.860676,1.000000,-0.417457,-0.306564,-0.440817,-0.298843
acceleration,0.420289,-0.505419,-0.543684,-0.684376,-0.417457,1.000000,0.288137,0.109144,0.204473
model year,0.579267,-0.348746,-0.370164,-0.411750,-0.306564,0.288137,1.000000,0.193101,-0.024489
origin_asia,0.442174,-0.396479,-0.433505,-0.321232,-0.440817,0.109144,0.193101,1.000000,-0.229895
origin_europe,0.259022,-0.352861,-0.373886,-0.281334,-0.298843,0.204473,-0.024489,-0.229895,1.000000

In [150]:
plt.figure(figsize=(10,6))
sns.heatmap(df.corr(),cmap=plt.cm.Reds,annot=True
           plt.title('Heatmap',fontsize-10))
plt.show()

SyntaxError: invalid syntax (Temp/ipykernel_23840/1444695366.py, line 3)

In [153]:
for idcoff, columnname in enumerate(x_train.columns):
    print("The coefficient for {} is {}".format(columnname, log.coef_[0][idcoff]))

The coefficient for cylinders is 0.0029206305435605646
The coefficient for displacement is 0.16532116656302856
The coefficient for horsepower is -0.028613876309403326
The coefficient for weight is -0.7353498787065197
The coefficient for acceleration is 0.043509632770812816
The coefficient for model year is 0.38602404873190993
The coefficient for origin_asia is 0.15166498820631427
The coefficient for origin_europe is 0.14883175338268126

In [154]:
intercept = log.intercept_[0]
print("The intercept for our model is {}".format(intercept))

The intercept for our model is 0.0020593976370094427

In [164]:
ridge=Ridge(alpha=0.3)
ridge.fit(x_train,y_train)
print('Ridge model:',(ridge.coef_))

Ridge model: [[-0.11258839  0.34325221 -0.08920961 -0.7349516   0.02112756  0.36674217
   0.13621631  0.18774905]]

In [165]:
ridge.score(x_train,y_train)
ridge.score(x_test,y_test)

0.8251500375406964

In [166]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_asia,origin_europe
mpg,1.000000,-0.775396,-0.804203,-0.771543,-0.831741,0.420289,0.579267,0.442174,0.259022
cylinders,-0.775396,1.000000,0.950721,0.839061,0.896017,-0.505419,-0.348746,-0.396479,-0.352861
displacement,-0.804203,0.950721,1.000000,0.893760,0.932824,-0.543684,-0.370164,-0.433505,-0.373886
horsepower,-0.771543,0.839061,0.893760,1.000000,0.860676,-0.684376,-0.411750,-0.321232,-0.281334
weight,-0.831741,0.896017,0.932824,0.860676,1.000000,-0.417457,-0.306564,-0.440817,-0.298843
acceleration,0.420289,-0.505419,-0.543684,-0.684376,-0.417457,1.000000,0.288137,0.109144,0.204473
model year,0.579267,-0.348746,-0.370164,-0.411750,-0.306564,0.288137,1.000000,0.193101,-0.024489
origin_asia,0.442174,-0.396479,-0.433505,-0.321232,-0.440817,0.109144,0.193101,1.000000,-0.229895
origin_europe,0.259022,-0.352861,-0.373886,-0.281334,-0.298843,0.204473,-0.024489,-0.229895,1.000000

In [169]:
lasso=Lasso(alpha=0.1)
lasso.fit(x_train,y_train)
print('Lasso model:',(lasso.coef_))

Lasso model: [-0.00924911 -0.         -0.02637959 -0.6071394   0.          0.27061688
  0.          0.0133737 ]

In [170]:
lasso.score(x_train,y_train)
lasso.score(x_test,y_test)

0.8091732749460805